In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import matplotlib as mtl
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df=pd.read_csv('/content/drive/MyDrive/data/house_price3.csv')
df

    Area  Age  Bedrooms  Prices  Unnamed: 4  Unnamed: 5  Unnamed: 6
0  20000   30       4.0   39000         NaN         NaN         NaN
1  40000   28       3.0   40000         NaN         NaN         NaN
2  67000   31       5.0   43000         NaN         NaN         NaN
3  89000   45       NaN   45000         NaN         NaN         NaN
4  90000   50       3.0   38000         NaN         NaN         NaN

In [16]:
df.Bedrooms=df.Bedrooms.fillna(3)
df
df.drop(df.column)

    Area  Age  Bedrooms  Prices  Unnamed: 4  Unnamed: 5  Unnamed: 6
0  20000   30       4.0   39000         NaN         NaN         NaN
1  40000   28       3.0   40000         NaN         NaN         NaN
2  67000   31       5.0   43000         NaN         NaN         NaN
3  89000   45       3.0   45000         NaN         NaN         NaN
4  90000   50       3.0   38000         NaN         NaN         NaN

In [7]:
reg=linear_model.LinearRegression()

In [21]:
reg.fit(df[['Area']],df.Prices)

LinearRegression()

In [22]:
reg.intercept_

38735.011102886754